
a {
    text-decoration: none !important;
    color: ##A3A3A3 !important;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #e4e4e4;
}

html {
  margin: 0px;
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  min-height: 100%;
}

p {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  color: grey;
}

img {
  margin: 0px;
}

ul li{
  display: inline;
  padding-top: 10px;
  padding: 10px;
}

h1 {
  font size: 40px;
  color: black;
  margin-top: 0px;
  display: inline-block;
  margin-bottom: 0px;
}

ul {
  margin-top: 0px;
}

h2 {
  font-style: oblique;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 10px;
  }

h3 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 10px;
  background-size: cover;
  color: black;
  background-image: url("images/bg2.jpg");
  width: 100%;
  border-radius: 15px 15px 0 0;
  vertical-align: middle;
  margin-bottom: 0px;

}

h4 {
margin-left: 10px;
margin-top: 160px;
font-size: 40px;
color: #E4E4E4;
font-family: 'Droid Sans', sans-serif;
}

hr {
  margin-top: 15px;
}

.container {
  height: 100%;
  background-image: url("images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0px;

}

.jumbotron {
  background-image: url("images/image1.jpg");
  background-size: cover;
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  min-height: 600px;
  position: relative;
}

.side_para {
  padding-left: 12px;
  width: 70%;
  font-style: normal;
  font-weight: lighter;
  color: grey;
}

.sub_main {
  width: 100%;
}

.sub__footer {
  margin: auto;
  font-size: 0;
  width:100%;
}

.btn {
  height: 15px;
  width: 15px;
}

.nav_footer {
  min-height: 100px;
  background-color: #B8B8B8;
  background-image: url("images/bg2.jpg");
  background-size: cover;
}
.smedia3 {
  font-size: 11px;
  text-align: right;
  padding-top: 34px;
  padding-right: 17px;
}
.smedia3 li {
  border-left: 3px solid gray;
  margin: 2px;
  padding: 12px;
  text-decoration: none;
}

.searchbar {
  text-align: right;
  font-size: 20px;
  list-style-type: none;
  color: white;
  padding: 25px;
  margin: 0;
  margin-right: 30px;
  margin-top: 0px;
}

.searchbar_texts {
  display: inline;
  list-style-type: none;
  margin-top: 0px;
  padding: 15px;
}
.searchbar_texts ul {
  padding: 50px;
}

.top_bar {
  color: white;
}

.main {
  position: relative;
  margin: auto;
  margin-top: 20px;
  width: 80%;
  height: 200px;
}

.wrapper1 {
  display: inline-block;
  width: 60%;
  position: relative;
  float: left;
}

.author {
  font-size: 12px;
  margin-bottom: 20px;
}

.authortime {
  margin-left: 5px;
  margin-bottom: 20px;
}

.wrapper__side {
  text-align: center;
  display: inline-block;
  width: 30%;
  position: relative;
  padding: 33px;
  padding-right: 30px;
  margin-left: 0px;
  right: 0px;
  height: 600px;
}

.smedia {
  text-align: center;
  padding-right: 20px;
  padding-left: 15px;
}

.connect {
  padding-top: 0px;
  padding: 4px;
  text-align: left;
  font-size: 10px;
  color: grey;
}

.company {
  font-size: 9px;
  text-align: left;
  position: absolute;
  padding-top: 35px;
  padding-left: 70px;
  color: #696969;
}

.smedia2 {
  margin-left: 56px;
  display: inline-block;
  padding: 15px;
  font-size: 15px;
  margin-left: 0px;
  padding-left: 0px;
}

.quotes {
  background-image: url("images/bg1.jpg");
  border-radius: 15px;
  width: 77%;
  margin-left: 36px;
}

#header2 {
  min-height: 1px;
  background-image: url("images/bg2.jpg");
  background-size: cover;
  border-radius: 15px;
  width: 100%;
  margin-top:  30px;
  margin-bottom: 30px;
}

.connect2 {
  /*padding-left: 50px;*/
  background-color: grey;
  background-image: url("images/bg2.jpg");
  border-radius: 15px;
  position: relative;
  float: left;
}

#logo1 {
  height: 30px;
  width: 30px;
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#texts {
  font-size: 20px;
  color: #E8E8E8;
  position: absolute;
  top: 25px;
  left: 50px;
}

#headliner {
  font-size: 40px;
  line-height: 100%;
  background-image: url("images/bg2.jpg");
  border-radius: 15px;
  margin-bottom: 0px;
  width: 100%;
}

#logo2 {
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  width: 60px;
}

#stamp {
border-radius: 150px;
width: 20px;
}

#side_image {
  width: 70%;
  height: 170px;
  border-radius: 25px 25px 1px 1px;
}

#logo3 {
  height: 60px;
  width: 60px;
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
}

.villain {
  height: 210px;
  width: 25%;
  background-size: cover;
  background-position: center;
  color: white;
  display: inline-block;
  vertical-align: top;
  background-image:
}

#villian1 {
  background-image: url("images/villian1.jpg");
}

#villian2 {
  background-image: url("images/villian2.jpg");
}

#villian3 {
  background-image: url("images/villian3.jpg");
}

#villian4 {
  background-image: url("images/villian4.jpg");
}

@media (max-width: 600px) {

  .container {
    width: 100%;
    display: inline-block;
  }

  .jumbotron {
    width: 100%;
  }
  .main {
    width: 50%;
    float: right;
  }

  .wrapper__side {
    display: none;
    float: left;
  }
}
